@import url('./style.css');

body {
    min-height: 100vh;
    background-image: url("../images/backgroun_masuk.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CARD */
.card-container {
    width: 100%;
    max-width: 320px;
    background-color: rgba(24, 26, 28, 0.84);
    border-radius: 16px;
    padding: 24px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 120px;
}

/* HEADER */
.card-header {
    text-align: center;
}

.title {
    font-size: 18px;
    font-weight: 700;
}

.subtitle {
    font-size: 12px;
    opacity: 0.8;
}

/* FORM */
.card-form {
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form-label {
    font-size: 10px;
    margin-bottom: 4px;
}

.form-input {
    height: 32px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.2);
    background: transparent;
    padding: 6px 10px;
    font-size: 10px;
    color: white;
}

/* PASSWORD */
.password-group {
    position: relative;
}

.password-icon {
    position: absolute;
    right: 10px;
    bottom: 8px;
    width: 14px;
    cursor: pointer;
}

/* EXTRA */
.form-extra {
    font-size: 10px;
    margin-bottom: 16px;
}

.form-extra span {
    color: #4da3ff;
    cursor: pointer;
}

.forgot {
    margin-top: 4px;
    cursor: pointer;
}

/* BUTTON */
.btn-login {
    width: 100%;
    height: 32px;
    border-radius: 12px;
    border: none;
    background-color: #4da3ff;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.divider {
    text-align: center;
    font-size: 10px;
    margin: 12px 0;
}

/* GOOGLE */
.btn-google {
    width: 100%;
    height: 32px;
    border-radius: 12px;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-size: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
    .card-container {
        max-width: 520px;
        padding: 40px;
        gap: 32px;
    }

    .logo {
        width: 180px;
    }

    .title {
        font-size: 24px;
    }
}
